@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Destructo";
  src: local("Destructo"),
   url(./assets/fonts/destructobeambb_reg.ttf) format("truetype");
}
#app {
  height: 100vh;
  /* background-image: url(assets/pics/future1.jpg) !important;
  background-size: cover;
  background-position: center; */

}
body {
  font-family: 'Destructo';
  background-color: rgb(17 23 41) !important;
  text-align: center;
  color: cornsilk;
  height: 100vh;
  margin-left: 4rem;
  margin-right: 4rem;
  justify-content: center
}

h1 {
  font-size: 5.5vw;
}

h2 {
  font-size: 5vw;
  color:rgb(181, 63, 63);
}

p {
  font-size: 3vmin;
}

span {
  color:rgb(181, 63, 63);
}